.scroll-down {
	position: relative;
	
	margin-bottom: 80px;

	text-transform: uppercase;
}

.scroll-down:before {
	display: block;
	content: "";

	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);

	height: 10px;
	width: 23px;

	background-repeat: no-repeat;
	background-image: url(../img/delta.png);
}