section {
	min-height: 130vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

section.-hero {
	flex-direction: column;
	justify-content: space-between;

	text-align: center;

	background-image: url(../img/hero_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section.-about {
	background-image: url(../img/what-is-sos_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section.-features {
	background-image: url(../img/features_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section.-reqs {
	background-image: url(../img/reqs_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}